<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>자유게시판 리스트</title>
    <link href="/client/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/client/css/user.css" rel="stylesheet" type="text/css" />
  
  </head>
  <body>
    <header>
      <div class="homebox">
        <a href="index.html" class="logo"></a>
      </div>
    </header>

    <!-- 템플릿 분리-->
    <%-include ('./nav.ejs') %>


    <main>
      <div class="free">
        <table>
          <tr>
            <th class="col1">번호</th>
            <th class="col2">제목</th>
            <th class="col3">작성자</th>
            <th class="col4">조회수</th>
            <th class="col5">작성일</th>
          </tr>

          <% for(var i=0; i<list.length; i++){ %>
          <tr>
            <td><%=i+1 %></td>
            <td>
              <a href="/board/view?article_no=<%=list[i].article_no %>"><%=list[i].title %></a
              ><span> [<%=list[i].article_no %>]</span>
            </td>
            <td><%=list[i].writer_nm %><img src="images/face/320.png" class="face" /></td>
            <td><%=list[i].click_cnt %></td>
            <td><%=moment(list[i].create_dt).format('YYYY-MM-DD') %> </td>
          </tr>
          <% } %>

        </table>

        <div class="button">
          <a href="/board/write?board_no=<%=board_no %>">글쓰기</a>
          <a href="/board/list?board_no=<%=board_no %>">리스트</a>
        </div>

        <div class="number">
          <div><</div>
          <div class="select"><a href="/board/list?board_no=<%=board_no %>&articleLimit=1" >1</a></div>
          <div><a href="/board/list?board_no=<%=board_no %>&articleLimit=2" >2</a></div>
          <div><a href="/board/list?board_no=<%=board_no %>&articleLimit=3" >3</a></div>
          <div><a href="/board/list?board_no=<%=board_no %>&articleLimit=4" >4</a></div>
          <div><a href="/board/list?board_no=<%=board_no %>&articleLimit=5" >...</a></div>
          <div>></div>
        </div>
      </div>
    </main>

    <!-- 템플릿 분리-->
    <%-include ('./footer.ejs') %>
  </body>
</html>
